<div id="wrapper" class="flex justify-center flex-center h-vh-100 " style="width: 100%;">
        <div class="flex-row" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;height:80vh; width: 60%; justify-content: center; padding: 25px; background-color: white; border-radius: 10px;" >
                <div class="test  flex-column " style=" position: relative; width: 100%; justify-content: center; align-items: center; ">
                        <div style="font-size: 3rem; z-index: 1;
                        font-weight: 800;
                        color: #fff;
                        padding: 16%;" >
                              Expert advice from top doctors
                        </div>

                       <img  class="" style="width :  100%; position: absolute; bottom: 0; 
                       transform: rotate(180deg); opacity: 0.7; "  src="./assets/images/vecteezy_abstract-water-wave-vector-illustration-design-background_12827996.png" alt="ee">
                </div>
                <div class="sign-in-form flex-column"  style="background-color: white;   justify-content: center; border-radius: 10px;  height: 100%; align-items: center;   border-radius: 10px; width: 100%;">
        
                        <div class="flex-column" style="width: 70%; justify-content: center;" >
                                <div class="header flex justify-center" style="font-size: 2rem; font-weight: 500; color :#28b0a5">
                                        Welcome to doctorly
                                </div>
                                <div class="separator"
                                        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; align-self: center; border-bottom: 2px solid rgb(212, 212, 212);  margin: 2rem 0rem; width: 40%;"></div>
                                <div class="sign-in-form flex-column">
                                        <form [formGroup]="signInForm">
                                        <div class="flex-column">
                                                <mat-label class="input-label">Email ou
                                                        nom d'utilisateur</mat-label>
                                                <mat-form-field appearance="outline"
                                                         class="example-full-width">
                                                        <input formControlName="login" matInput>
                                                </mat-form-field>
                                        </div>
                                        <div class="flex-column">
                                                <mat-label class="input-label">Mot de
                                                        passe</mat-label>
                                                <mat-form-field appearance="outline"
                                                        class="example-full-width">
        
                                                        <input matInput formControlName="password">
                                                </mat-form-field>
                                        </div>
                                </form>

                                </div>
                                
                                <button (click)="signIn()" style="border-radius: 6px;  background-color: #28b0a5!important; width: 100%;"  mat-flat-button>s'identifier</button>
                                <div class="flex-row w-100 "
                                        style="align-items: center; justify-content: space-between;">
                                        <div class="flex-row"
                                                style="align-items: center;">
                                                <mat-checkbox
                                                        class="example-margin"></mat-checkbox>
                                                <div>stay connected</div>
                                        </div>
                                        <div>Mot de pass oublié</div>
                                </div>
                        </div>

                        
                </div>
        </div>
        
</div>