@use "../../../../styles/scss/layout.scss";

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.footer {
  bottom: 0;
  width: 100%;
  z-index: 99999;
  position: fixed;
  min-height: layout.$footer-height;
}

.content-collapse {
  overflow: hidden;
}

.main-content-wrapper {
  padding: 10px;
  min-height: calc(100vh - #{layout.$footer-height + layout.$header-height});
}

@media screen and (min-width: 769px) {
  .layout-wrapper-collapse {
    margin-left: layout.$side-bar-collapse-width !important;
  }

  .main-layout-wrapper {
    height: 100%;
    transition: all 0.3s ease-in-out;
    margin: layout.$header-height 0 layout.$footer-height layout.$side-bar-width;
  }
}

@media screen and (max-width: 768px) {
  .layout-wrapper-collapse {
    height: 100%;
    margin-left: layout.$side-bar-collapse-width;
  }

  .main-layout-wrapper {
    height: 100%;
    margin: layout.$header-height 0 layout.$footer-height 0;
  }
}